################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/PraCampo5/.vs/PraCampo5
/PractiCampo_6/.vs/PractiCampo_6
